<div style="font-size: 40px" #foundedWord *ngIf="word.founder || word.founder === undefined && word.notFounded">
  <p-contextMenu [target]="foundedWord" [model]="menuItems"></p-contextMenu>
  <div [ngStyle]="{'color': word.founder ? '#F6B833' : '#C7C8CB'}">
    {{word.word.toUpperCase()}}
  </div>
</div>
<div style="font-size: 40px; color: #6f7174" *ngIf="word.founder === undefined && word.notFounded == false">
  <span *ngFor="let n of numSequence(word.word.length)" style="margin: -4px">
    _
  </span>
</div>
<div style="font-size: 16px; height: 20px; color: #baae8b; margin-top: -20px;">{{word.founder}}</div>
