<p-button (click)="newGame()" label="Új játék"></p-button>
<input pInputText style="width: 100px" [disabled]="gameActive" [(ngModel)]="remainingTime"> másodperc

<p-button (click)="leaveGame()" label="Vissza"></p-button>

<br>
<br>
<div class="charClass" *ngIf="words.wordList.length > 0">
  <div *ngIf="gameActive">IDŐ: {{countBack}}</div>
  <div *ngIf="!gameActive">VÉGE</div>

  <div>
    <span *ngFor="let char of words.characterList">
      <span class="charClass">{{char}}</span>
    </span>
  </div>
  <div style="display:inline-block;" class="charClass" *ngFor="let word of words.wordList">
    <app-word [word]="word"></app-word>
  </div>

  <app-scoreboard></app-scoreboard>
</div>
