.charClass {
  margin: 20px;
  font-size: 50px;
  font-family: Asap;
  color: #f6b833;
}
.chatSet {
  border-color: #ffcf62;
  border-radius: 75px;
  border-style: solid;
  border-width: 20px;
  width: fit-content;
  background-color: #f8ac30;
  margin: 11px auto auto;
  height: 120px;
}

.char {
  color: black;
  margin: 20px;
  padding: 10px;
}

.timeControlClass {
  width: 480px;
  font-size: 10px;
  text-align: center;
  height: 80px;
  padding-top: 22px;
  padding-left: 160px;
  position: fixed;
  overflow-y: auto;
  z-index: 0;
  top: 15px;
  left: 0px;
  background-color: #f2972a;
  overflow-x: hidden;
  transition: 0.5s;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.counter {
  position: fixed;
  z-index: 10;
  background-color: #f6b833;
  color: #171a1e;
  border-bottom-right-radius: 107px;
  border-top-right-radius: 45px;
  border-style: solid;
  border-width: 8px;
  border-color: #f2972a;
  width: 183px;
  margin-left: -46px;
  padding-left: 20px;
  padding-top: 52px;
  margin-top: -67px;
  height: 155px;
}

.exitButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: Coiny, Arial, sans-serif;
  font-size: 24px;
}

#overlayScoreboard {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
  z-index: 11; /* Specify a stack order in case you're using a different order for other elements */
  /*cursor: pointer; !* Add a pointer on hover *!*/
}
