<div class="p-grid charClass">
  <div class="p-col-9">
    <div class="p-grid">
      <div class="p-col-3">
        <div class="counter" [ngStyle]="{'background-color': countBack <= 10 ? '#DC2D33' : '#f6b833'}">
          <b>{{countBackMin}}:{{countBackSec}}</b>
        </div>
        <div id="timeControl" class="timeControlClass">
          <div *ngIf="!isGameActive">
            <p-inputNumber [(ngModel)]="remainingTime" placeholder="Idő (másodperc)" min="30" max="300"></p-inputNumber>
            <button pButton pRipple [disabled]="remainingTime === undefined" type="button" (click)="newGame()" label="Indít" class="p-button-rounded p-button-warning" style="margin-left: 10px"></button>
          </div>
          <div *ngIf="isGameActive">
            <button pButton pRipple type="button" (click)="endGame()" label="Stop" class="p-button-rounded p-button-danger" style="right: -111px"></button>
          </div>
        </div>
      </div>
      <div class="p-col-9" *ngIf="words.wordList.length > 0">
        <div class="chatSet">
          <div *ngFor="let char of words.characterList; index as i" style="width: 90px; display: inline-block; border-right-style: solid; border-right-color: #f2972a; font-style: normal; padding-top: 10px; padding-bottom: 12px;" [ngStyle]="{'border-right-style': i < (words.characterList.length - 1) ? 'solid' : ''}">
            <b><span class="char">{{char.toUpperCase()}}</span></b>
          </div>
        </div>
      </div>
      <div class="p-col-12" style="padding-top: 30px" *ngIf="words.wordList.length > 0">
        <div class="p-grid" style="background-color: #171a1e; margin-right: 15px; padding-left: 50px; border-radius: 30px">
          <div class="p-col-2" style="padding: 16px 8px 16px;" *ngFor="let word of words.wordList">
            <app-word [word]="word"></app-word>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-3">
    <div class="p-grid">
      <div class="p-col-12" style="height: 170px; text-align: center">
        <img src="assets/retroka.png" class="rotate" width="150" height="150" alt=""/>
      </div>
      <div class="p-col-12" *ngIf="words.wordList.length > 0">
        <app-scoreboard></app-scoreboard>
      </div>
    </div>
  </div>
  <div style="position: fixed; left: 35px; width: 71%; bottom: 20px; color: black;" (click)="showAllTimeScoreBoard()">
    <div class="p-grid" *ngIf="scoreboard">
      <div class="p-col-4" *ngIf="scoreboard.allTimePlayers.length >=1" style="border-radius: 30px; background-color: #ffcf62; font-size: 36px; text-align: center">
        <b>1. {{scoreboard.allTimePlayers[0].name}} - {{scoreboard.allTimePlayers[0].score}} pont</b>
      </div>
      <div class="p-col-4" *ngIf="scoreboard.allTimePlayers.length >=2" style="border-radius: 30px; background-color: #eae8e7; font-size: 36px; text-align: center">
        <b>2. {{scoreboard.allTimePlayers[1].name}} - {{scoreboard.allTimePlayers[1].score}} pont</b>
      </div>
      <div class="p-col-4" *ngIf="scoreboard.allTimePlayers.length >=3" style="border-radius: 30px; background-color: #ce834c; font-size: 36px; text-align: center">
        <b>3. {{scoreboard.allTimePlayers[2].name}} - {{scoreboard.allTimePlayers[2].score}} pont</b>
      </div>
    </div>
  </div>
  <div>
    <button pButton pRipple type="button" label="Kilépés" class="p-button-rounded p-button-danger exitButton" (click)="leaveGame()"></button>
  </div>
</div>

<div id="overlayScoreboard">
  <div class="p-grid" *ngIf="scoreboard" (click)="closeScoreBoard()" style="
    width: 33%;
    position: absolute;
    top: 20%;
    left: 33%;
    background-color: black;
    border-radius: 30px;
    overflow: auto;
    height: 75%">
    <div class="p-col-12" style="color: #ffcf62; text-align: center; font-size: 36px">
      <b>ÖSSZESÍTÉS</b>
    </div>
    <div class="p-col-12" *ngFor="let player of scoreboard.allTimePlayers; index as i" style="border-radius: 30px; font-size: 36px; text-align: center; margin: 5px; width: 95%; height: 60px"
         [ngStyle]="{'background-color': i == 0 ? '#ffcf62' : (i == 1 ? '#eae8e7' : (i == 2 ? '#ce834c' : '#b5b4b4'))}">
      <b>{{i + 1}}. {{player.name}} - {{player.score}} pont</b>
    </div>
  </div>
</div>
