<input [disabled]="tmijsService.connected" [(ngModel)]="channel">
<button [disabled]="tmijsService.connected || !connected" (click)="connect()">Connect</button>
<button [disabled]="!tmijsService.connected || !connected" (click)="disconnect()">Disconnect</button>
<button (click)="newGame()">Új játék</button>
<input style="width: 100px" [disabled]="gameActive" [(ngModel)]="remainingTime"> másodperc

<button [disabled]="!connected" style="float: right" (click)="logout()">Logout</button>
<button [disabled]="connected" style="float: right" (click)="login()">Login</button>

<br>
<br>
<div class="charClass" *ngIf="words.wordList.length > 0">
  <div *ngIf="gameActive">IDŐ: {{countBack}}</div>
  <div *ngIf="!gameActive">VÉGE</div>

  <div>
    <span *ngFor="let char of words.characterList">
      <span class="charClass">{{char}}</span>
    </span>
  </div>
  <div style="display:inline-block;" class="charClass" *ngFor="let word of words.wordList">
    <app-word [word]="word"></app-word>
  </div>

  <app-scoreboard></app-scoreboard>
</div>

<div id="overlay" *ngIf="true">
  <p-progressSpinner id="spinner" strokeWidth="8" animationDuration=".5s"></p-progressSpinner>
</div>

<router-outlet></router-outlet>
